/*======ALGEMEEN======*/
/*bron: https://www.youtube.com/watch?v=QhhYZJFOZnY*/

@font-face {
    font-family: 'nexa';
    src: url(fonts/Nexa_Bold.ttf);
    font-style: normal;
}

body {
    background: white;
    margin: 0;
    width: 100vw;
    padding: 0;
    font-family: nexa;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #0FD67D;
    font-size: 2.375rem;
}

section > h2 {
    text-align: center;
}


h4 {

    font-size: 1.5rem;
}

h5 {

    font-size: 1.25rem;
}

h6 {

    font-size: 1rem;
}

a {
    text-decoration-line: none;
}

li {
    margin-right: 2em;
    margin-left: -.9em;
}

/*======HEADER======*/
nav > ul {
    box-shadow: 0em .2em .6em grey;
    position: fixed;
    top: 0;
    background: white;
    z-index: 100;
    margin-top: 0;
    height: 3.5rem;
    margin-right: auto;
    width: 100%;
}

nav > ul > li:nth-child(1) {
    padding-left: 0.3em;
}

nav > ul > li:nth-child(2) {
    margin-top: 0.9em;
}


nav > ul > li:nth-child(4) {
    padding: 0.2em;
    margin-right: 1em;
}

nav > ul > li:nth-child(3) {
    padding-top: 0.9em;
    flex-grow: 2;
    position: relative;
}

nav > ul > li:nth-child(5) {
    margin-top: 0.2em;
    margin-right: 0em;
}

nav > ul > li > a {
    color: #0FD67D;
    font: 2.375rem;
}

nav > ul > li > a:hover {
    color: #30009D;
}

/*========FORM=========*/
form > ul > li > button {
    background-color: #30009D;
    padding: 0.5em;
    border-radius: 6.25em;
    font-size: 1rem;
    color: white;
    border: none;
    box-shadow: 0px 3px 0px 0px #14003E;
}

form > button:hover {
    background-color: #623DB5;
    box-shadow: 0px 3px 0px 0px #150044;
}

main > form > ul > li > img {
    margin-top: -0.4em;
    padding-top: 0.5em;
    margin-left: 0.4em;
}

ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    padding: .2em;
    padding-left: 1em;
    margin-left: 0em;
}


form > ul {
    background-color: #F3E5D9;
    width: 100vw;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
}

form > ul > li > img {
    margin-top: 1.1em;
    margin-left: .3em;
}

/*=======MAIN=======*/
main {
    padding-top: 3.5rem;
    position: relative;
}

header {
    width: 100%;
    height: 20em;
    background-size: cover;
    background-image: url(afbeeldingen/strand.jpg);
    margin-bottom: -3.5em;
    padding-top: 8.5rem;
}


header h1 {
    text-align: center;
    background-color: white;
    opacity: 0.95;
    padding: 1em;
    margin: 0 auto;
    border-radius: 1rem;
    display: table;
}

section > div {
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    max-width: 100vw;
}

section {
    justify-content: center;
}

.progressiebalk {
    display: flex;
    bottom: -1em;
    width: 9em;
    left: 0.9em;
}

article {
    border-radius: 1rem;
    position: relative;
    border: .05em solid gainsboro;
    background: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em;
}

article a {
    width: 100%;
}


article div {
    color: black;
}

article div img {
    margin-bottom: -.5em;
}

article footer {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-bottom: .5em;
}

article a > img {
    border: 2em;
    width: 100%;
    max-height: 5em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

article h4 {
    margin: 0;
    color: #30009D;
}


section:nth-of-type(2) {
    background-color: #F3E5D9;
    padding-left: 0.6em;
    margin-left: -0.5em;
}

article button {
    background-color: white;
    border: none;
    padding: 1.5em;
}


/*===========MICRO-INTERACTIONS===========*/
footer button {
    background-image: url(afbeeldingen/download.svg);
    background-size: 2rem;
    background-repeat: no-repeat;

}

.gedownload {
    background-image: url(afbeeldingen/downloadknop.gif);
}


.melding {
    position: absolute;
    background-image: url(afbeeldingen/melding.svg);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 1.5em;
    padding-right: 2em;
    margin-left: 3.7em;
    margin-top: -0.88em;
    opacity: 0;

    /*:transition {
        opacity: 1;
    }*/
}

.ping {
    transition: 5s;
    opacity: 1;
}


.kruisje {
    background-image: url(afbeeldingen/kruisjepaars.svg);
    background-size: 4em;
    background-repeat: no-repeat;
    padding: 2em;
    margin-top: -1em;
    margin-left: -1.7em;
    opacity: 0;
}

.show {
    opacity: 1;
}

section div article:last-of-type {
    opacity: 1;
}

.verwijderen {
    opacity: 0;
}

form ul li button {}

.klik {
    background-color: #FE2566;
    box-shadow: 0px 3px 0px 0px #C92254;
}

article .mijnlijst {
    position: relative;
}

article > button {
    position: absolute;
    background: none;
    opacity: 0;
}

li button {
    background: none;
    border: none;
}

/*======IPHONE FORMAAT========*/
@media (max-width: 30em) {

    article {
        min-width: 23em;
    }

}

/*=======IPAD FORMAAT=========*/
@media (min-width: 30.1em) and (max-width: 63.9em) {
    article {
        width: 40%;
    }

    article footer {
        width: 100%;
    }

    .progressiebalk {
        display: flex;
        bottom: -1em;
        width: 8em;
    }


    section > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    nav > ul > li:nth-child(5) {
        margin-top: 0.2em;
        margin-right: 0.3em;
    }

    form > ul {
        justify-content: center;
    }

    h1 {
        justify-content: center;
    }
}


/*===========LAPTOP FORMAAT===========*/
@media (min-width: 64em) and (max-width: 162em) {

    section > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    article {
        width: 30%;
    }

    form > ul {
        justify-content: center;
    }

    section > div > h2 {
        justify-content: center;
    }

    h1 {
        justify-content: center;
    }
}

/*===========VERHAAL RESPONSIVE VORMGEVEN===========*/
#afbeeldingweg {
    background: none;
    margin-top: -13em;
}

/*======IPHONE FORMAAT========*/
@media (max-width: 29em) {
    #verhaalmobiel {
        display: block;
        background-image: url(afbeeldingen/verhaalmobiel.gif);
    }

    #verhaaltablet {
        display: none;
    }

    #verhaallaptop {
        display: none;
    }
}


/*=======IPAD FORMAAT=========*/
@media (min-width: 29em) and (max-width: 63.9em) {
    #verhaaltablet {
        /display: block;
        background-image: url(afbeeldingen/verhaaltablet.gif);
    }

    #verhaallaptop {
        display: none;
    }

    #verhaalmobiel {
        display: none;
    }

}


/*===========LAPTOP FORMAAT===========*/
@media (min-width: 64em) and (max-width: 162em) {
    #verhaalmobiel {
        display: none;
        background-image: url(afbeeldingen/verhaallaptop.gif);
    }

    #verhaaltablet {
        display: none;
    }

    #verhaallaptop {
        display: block;
    }
}
