/*======ALGEMEEN======*/
/*bron: https://www.youtube.com/watch?v=QhhYZJFOZnY*/

@font-face {
    font-family: 'nexa';
    src: url(fonts/Nexa_Bold.ttf);
    font-style: normal;
}

body {
    background: white;
    margin: 0;
    width: 100vw;
    padding: 0;
    font-family: nexa;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #0FD67D;
    font-size: 2.375rem;
}

section > h2 {
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0em;
}

h4 {

    font-size: 1.5rem;
}

h5 {

    font-size: 1.25rem;
}

h6 {

    font-size: 1rem;
}

a {
    text-decoration-line: none;
}

li {
    margin-right: 2em;
    margin-left: -.9em;
}

h3:hover {
    color: #FE2566;
}

button {
    font-family: nexa;
}

/*======HEADER======*/
nav > ul {
    box-shadow: 0em .2em .6em grey;
    position: fixed;
    top: 0;
    background: white;
    z-index: 100;
    margin-top: 0;
    height: 3.5rem;
    margin-right: auto;
    width: 100%;
}

nav > ul > li:nth-child(1) {
    padding-left: 0.3em;
    padding-top: 0.15em;
}

#logo {
    background-image: url(afbeeldingen/logo%20kopie.png);
    background-repeat: no-repeat;
    background-size: 2.8em;
    padding: 2em;
    padding-top: 0em;
    padding-left: 1em;
    margin-right: -0.5em;
}

nav > ul > li:nth-child(2) {
    position: relative;
}

.pijltje {
    position: absolute;
    background-image: url(afbeeldingen/down-arrow.svg);
    background-size: 0.9em;
    background-position: left;
    background-repeat: no-repeat;
    padding: 1em;
}

.pijltje:hover {
    background-image: url(afbeeldingen/pijltje.svg);
}

nav > ul > li:nth-child(4) {
    padding: 0.1em;
    margin-right: 1em;
}

nav > ul > li:nth-child(3) {
    margin-left: 3.6em;
    flex-grow: 2;
    position: relative;
}

nav > ul > li:nth-child(5) {
    margin-top: 0.2em;
    margin-right: 0em;
}

#login {
    background-image: url(afbeeldingen/inlog-icoon.svg);
    background-repeat: no-repeat;
    background-size: 2.7em;
    padding-top: 2em;
    padding-bottom: 0.5em;
    padding-right: 2.5em;
}

#login:hover {
    background-image: url(afbeeldingen/inlog-icoonhover.svg);
}

nav > ul > li > button {
    background-image: url(afbeeldingen/zoek-icoon.svg);
    background-repeat: no-repeat;
    background-size: 4.1em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 3em;
}

nav > ul > li > button:hover {
    background-image: url(afbeeldingen/zoek-icoonhover.svg);
}

nav > ul > li > a {
    color: #0FD67D;
    font: 2.375rem;
}

nav > ul > li > a:hover {
    color: #30009D;
}

/*========FORM=========*/
form > ul > li > button {
    background-color: #30009D;
    padding: 0.5em;
    border-radius: 6.25em;
    font-size: 1rem;
    color: white;
    border: none;
    box-shadow: 0px 3px 0px 0px #14003E;
}

form ul li:nth-of-type(1) {
    margin-left: 0.1em;
}

form button:hover {
    background-color: #623DB5;
    box-shadow: 0px 3px 0px 0px #150044;
}

#sorteer {
    background-image: url(afbeeldingen/sort-by-attributes.svg);
    background-repeat: no-repeat;
    background-size: 2.1em;
    padding: 1em;
    background-position: center;
}

#tandwiel {
    background-image: url(afbeeldingen/settings.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    padding: 1.2em;
    background-position: center;
}

ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    padding: .2em;
    padding-left: 1em;
    margin-left: 0em;
}


form > ul {
    background-color: #F3E5D9;
    width: 100vw;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
}

form > ul > li > img {
    margin-top: 0.2em;
    margin-left: .3em;
}

#form {
    background-color: #F3E5D9;
    padding: 2em;
}

.zoek {
    margin-top: -5.9em;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
}

.zoekknop {
    background-image: url(afbeeldingen/zoek-icoonhover.svg);
}

.laatzien {
    opacity: 1;
}

#zoeken {
    padding: 0em;
    background: none;
}

#zoeken input {
    border: 1px solid black;
    border-right: none;
    font-family: nexa;
    font-size: 1rem;
    padding: 0.46em;
    padding-right: 5.7em;
    background-color: white;
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .1rem;
    border-top-left-radius: .375rem;
    border-top-right-radius: .1rem;


}

#zoeken button {
    background-image: url(afbeeldingen/zoeken.svg);
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: center;
    padding-top: 1.2em;
    padding-bottom: 0.6em;
    padding-right: 2em;
    margin-left: -0.2em;
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .375rem;
    border-top-left-radius: .1rem;
    border-top-right-radius: .375rem;
    margin-right: -0.5em;
}

/*=======MAIN=======*/
main {
    position: relative;
}

header {
    width: 100%;
    height: 20em;
    background-size: cover;
    background-image: url(afbeeldingen/strand.jpg);
    margin-bottom: -3.5em;
    padding-top: 8.5rem;
}


header h1 {
    text-align: center;
    background-color: white;
    opacity: 0.95;
    padding: 1em;
    margin: 0 auto;
    /margin-top: 1.5em;
    border-radius: 1rem;
    display: table;
}

section > div {
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    max-width: 100vw;
}

section {
    justify-content: center;
}

.progressiebalk {
    display: flex;
    bottom: -1em;
    width: 9em;
    left: 0.9em;
}

article {
    border-radius: 1rem;
    position: relative;
    border: .05em solid gainsboro;
    background: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em;
}

article a {
    width: 100%;
}

article div {
    color: black;
}

article div img {
    /margin-bottom: -.5em;
}

article footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: .5em;
    margin-left: .5em;
}

article a > img {
    border: 2em;
    width: 100%;
    max-height: 5em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

article h3 {
    margin: 0.2em;
    color: #30009D;
}

section:nth-of-type(2) {
    background-color: #F3E5D9;
    padding-left: 0.6em;
    margin-left: -0.5em;
    padding-top: 0.2em;
}

section:nth-of-type(4) {
    background-color: #0FD67D;
    padding-left: 0.6em;
    margin-left: -0.5em;
    padding-top: 0.2em;
}

section:nth-of-type(4) h2 {
    color: white;
}

article button {
    background-color: white;
    border: none;
    padding: 1.5em;
}

article button:hover {
    background-image: url(afbeeldingen/download.svg);
}

footer div {
    background-image: url(afbeeldingen/heart.svg);
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 0.8em;
    padding-left: 2em;
    padding-top: 1.5em;
    margin-top: -1em;
}

footer div:hover {
    background-image: url(afbeeldingen/hartvol.svg);
}

#download {
    background-image: url(afbeeldingen/downloadleeg.svg);
    background-size: 9em;
    background-repeat: no-repeat;
    padding: 3em;
    background-position: center;
    margin-top: -8.5em;

}

main#download h2 {
    font-size: 1.5rem;
    margin-top: 11em;
    text-align: center;
}

main#download a {
    text-decoration-line: underline;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

li#alfa a {
    background-color: #30009D;
    padding: 0.5em;
    border-radius: 6.25em;
    font-size: 1rem;
    color: white;
    border: none;
    box-shadow: 0px 3px 0px 0px #14003E;
}

#alfa {
    margin-top: 0.5em;
}

li#alfa a:hover {
    background-color: #623DB5;
    box-shadow: 0px 3px 0px 0px #150044;
}

/*===========MICRO-INTERACTIONS===========*/
footer button {
    background-image: url(afbeeldingen/download-2.svg);
    background-size: 2rem;
    background-repeat: no-repeat;

}

.gedownload {
    background-image: url(afbeeldingen/downloadknop.gif);
}

.melding {
    position: absolute;
    background-image: url(afbeeldingen/melding.svg);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 1.5em;
    padding-right: 2em;
    margin-left: 3.4em;
    margin-top: -0.88em;
    opacity: 0;

    /*:transition {
        opacity: 1;
    }*/
}

.ping {
    transition: 5s;
    opacity: 1;
}


.kruisje {
    background-image: url(afbeeldingen/kruisjepaars.svg);
    background-size: 4em;
    background-repeat: no-repeat;
    padding: 2em;
    margin-top: -1em;
    margin-left: -1.7em;
    opacity: 0;
}

.kruisje:hover {
    background-image: url(afbeeldingen/kruisjeroze.svg);

}

.show {
    opacity: 1;
}

.verdwijn {
    opacity: 1;
}

.verwijderen {
    opacity: 0;
}

.klik {
    background-color: #FE2566;
    box-shadow: 0px 3px 0px 0px #C92254;
}

.klik:hover {
    background-color: #fe608d;
    box-shadow: 0px 3px 0px 0px #c82254;
}

article .mijnlijst {
    position: relative;
}

article > button {
    position: absolute;
    background: none;
    opacity: 0;
}

li button {
    background: none;
    border: none;
}


/*===========INLOGGEN===========*/

#inloggen {
    margin-top: -10em;
    display: flex;

}

#lijn {
    border: 0;
    height: 1px;
    background: #e6e6e6;
    margin-bottom: 1em;
}

#divider {
    border: 0;
    border-bottom: 1px dashed #e6e6e6;
    background: #999;

}

legend {
    color: #30009D;
    font-size: 1.5rem;
    padding-top: 2em;
    margin-bottom: -0.3em;

}

#email {
    border-radius: .375rem;
    border: 1px solid #dfdfdf;
    outline: none;
    font-family: nexa;
    font-size: 1rem;
    padding: 0.4em;
    margin-top: 0.1em;
    background-color: white;
}

#email:hover {
    border-color: #30009D;
    background-color: white;
}

#email:invalid {
    border-color: #FF0000;
    background-color: #FF0000;
}

#email:valid {
    border-color: #0FD67D;
    background-color: #0FD67D;

}

fieldset {
    border-radius: 1rem;
    border: none;
    background-color: white;
    padding: 1em;
    margin: 0.5em;
}

fieldset button {
    background-color: #FE2566;
    padding: 0.2em;
    border-radius: 6.25rem;
    font-size: 1rem;
    color: white;
    border: none;
    box-shadow: 0px 3px 0px 0px #C92254;
    margin-top: 0.5em;
}

fieldset button:hover {
    background-color: #fe608d;
    box-shadow: 0px 3px 0px 0px #c82254;
}

fieldset div:nth-of-type(4) {
    float: right;
    width: 40%;
    font-size: 1rem;
}

fieldset div:nth-of-type(2) {
    float: left;
    width: 40%;
}

fieldset img {
    padding-top: 1em;
    margin-left: 1.4em;
}

#kleur {
    background: none;
}

#achtergrond {
    background-color: #0FD67D;
    border: none;
}

#vingerprint {
    background-image: url(afbeeldingen/fingerprint.svg);
    background-repeat: no-repeat;
    background-size: 4em;
    margin-left: 2em;
    padding: 2em;
    margin-top: 0.8em;
}

#vingerprint:hover {
    background-image: url(afbeeldingen/fingerprint1.svg);
}

/*======IPHONE FORMAAT========*/
@media (max-width: 30em) {

    article {
        min-width: 23em;
    }

    #inloggen {
        margin-left: auto;
        margin-right: auto;
    }
}

/*=======IPAD FORMAAT=========*/
@media (min-width: 30.1em) and (max-width: 63.9em) {
    article {
        width: 40%;
    }

    article footer {
        width: 100%;
    }

    .progressiebalk {
        display: flex;
        bottom: -1em;
        width: 8em;
    }

    section > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav > ul > li:nth-child(5) {
        margin-top: 0.2em;
        margin-right: 0.3em;
    }

    form > ul {
        justify-content: center;
    }


    #inloggen {}

    /form div:nth-of-type(2) {
        visibility: hidden;
    }

}

/*===========LAPTOP FORMAAT===========*/
@media (min-width: 64em) {

    section > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    article {
        width: 30%;
    }

    form > ul {
        justify-content: center;
    }

    section > div > h2 {
        justify-content: center;
    }


    /#inloggen {
        justify-content: center;
    }
}

/*===========VERHAAL RESPONSIVE VORMGEVEN===========*/
#afbeeldingweg {
    background: none;
    margin-top: -13em;
}

/*======IPHONE FORMAAT========*/
@media (max-width: 29em) {
    #verhaalmobiel {
        display: block;
        background-image: url(afbeeldingen/verhaalmobiel.gif);
    }

    #verhaaltablet {
        display: none;
    }

    #verhaallaptop {
        display: none;
    }
}

/*=======IPAD FORMAAT=========*/
@media (min-width: 29em) and (max-width: 63.9em) {
    #verhaaltablet {
        /display: block;
        background-image: url(afbeeldingen/verhaaltablet.gif);
    }

    #verhaallaptop {
        display: none;
    }

    #verhaalmobiel {
        display: none;
    }

}

/*===========LAPTOP FORMAAT===========*/
@media (min-width: 64em) and (max-width: 162em) {
    #verhaalmobiel {
        display: none;
        background-image: url(afbeeldingen/verhaallaptop.gif);
    }

    #verhaaltablet {
        display: none;
    }

    #verhaallaptop {
        display: block;
    }
}
