/*bron: https://www.youtube.com/watch?v=QhhYZJFOZnY*/

@font-face {
    font-family: 'nexa';
    src: url(fonts/Nexa_Bold.ttf);
    font-style: normal;
}

body {
    background: white;
    margin: 0;
    width: 100vw;
    padding: 0;
    font-family: nexa;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #0FD67D;

    font-size: 2.375rem;
}

section > h2 {
    text-align: center;
}


h4 {

    font-size: 1.5rem;
}

h5 {

    font-size: 1.25rem;
}

h6 {

    font-size: 1rem;
}

a {
    text-decoration-line: none;
}

li {
    margin-right: 2em;
    margin-left: -.9em;
}

/*======HEADER======*/
nav > ul {

    box-shadow: 0em .2em .6em grey;
    position: fixed;
    top: 0;
    background: white;
    z-index: 100;
    margin-top: 0;
    height: 3.5rem;
    margin-right: auto;
    width: 100%;
}

nav > ul > li:nth-child(1) {}

nav > ul > li:nth-child(2) {
    margin-top: 0.9em;
}


nav > ul > li:nth-child(4) {
    margin-top: 0.2em;
    margin-right: 1em;

}

nav > ul > li:nth-child(3) {
    margin-top: 0.9em;
    flex-grow: ;
}

nav > ul > li:nth-child(5) {
    margin-top: 0.2em;
    /margin-right: 0em;
}

nav > ul > li > a {
    color: #0FD67D;
    font: 2.375rem;

}

nav > ul > li > a:hover {
    color: #30009D;
}

/*========FORM=========*/
form > ul > li > button {
    background-color: #30009D;
    padding: 0.5em;
    border-radius: 6.25em;
    font-size: 1rem;
    color: white;
    border: none;
    box-shadow: 0px 3px 0px 0px #14003E;
    margin-left: -0.1em;
}



form > button:hover {
    background-color: #623DB5;
    box-shadow: 0px 3px 0px 0px #150044;

}

main > form > ul > li > img {
    margin-top: -0.4em;
    padding-top: 0.5em;
    margin-left: 0.4em;

}

ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    padding: .2em;
    padding-left: 1em;
    margin-left: 0em;
}


form > ul {
    background-color: #F3E5D9;
    width: 100vw;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
}

form > ul > li > img {
    margin-top: 1.1em;
    margin-left: .3em;
}

/*=======MAIN=======*/
main {
    padding-top: 3.5rem;
    display: grid;
    position: relative;

}

header {
    width: 100%;
    height: 20em;
    background-size: cover;
    background-image: url(afbeeldingen/strand.jpg);
    margin-bottom: -3.5em;
    padding-top: 7rem;
}


header h1 {
    text-align: center;
    background-color: white;
    opacity: 0.95;
    padding: 1em;
    margin: 0 auto;
    border-radius: 1rem;
    display: table;
}

section > div {
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    max-width: 100vw;
}

section {
    justify-content: center;
    /*    overflow: hidden;*/
}

.progressiebalk {
    display: flex;
    bottom: -1em;
    width: 9em;
    left: 0.9em;
}

article {
    border-radius: 1rem;
    /*
    width: 21em;
    height: 10em;
*/
    position: relative;
    border: .05em solid gainsboro;
    background: white;
    margin-bottom: 1em;
    /*    margin-right: .8em;*/

    display: flex;
    flex-wrap: wrap;


}

article a {
    width: 100%;
}

article > h4 {
    margin-top: -0.8em;
    margin-left: -0.7em;
}

article > img:nth-child(2) {
    /*    margin: 2em;*/
}

article div {
    /*    position: absolute;*/
    /*    right: 1em;*/
    /*    bottom: 1em;*/

    color: black;
    display: flex;
    align-items: center;
}

article div > img {
    /*    margin-bottom: -0.65em;*/
    margin-left: 0.3em;
    /*    right: 2em;*/

}

article footer {
    display: flex;
    width: 100%;
}


article a > img {
    border: 2em;
    /*    position: absolute;*/
    width: 100%;
    max-height: 5em;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
}

article h4 {
    /*    padding-top: 2em;*/
    /*    position: absolute;*/
    /*    left: 1.125em;*/
    /*    padding: .125em;*/
    /*    top: 4.5em;*/
    margin: 0;

    color: #30009D;
}


section:nth-of-type(2) {
    background-color: #F3E5D9;
    padding-left: 0.6em;
    margin-left: -0.5em;
}

article button {
    background-color: white;
    border: none;
    /left: 13em;
}


/*===========INLOGGEN===========*/
body > form {
    margin: auto;
    background: white;
    opacity: 0.95;
    border-radius: 1rem;


}

legend {}

/*======IPHONE FORMAAT========*/
@media (max-width: 29em) {

    article {
        min-width: 21em;
    }

}

/*=======IPAD FORMAAT=========*/
@media (min-width: 29em) and (max-width: 63.8em) {
    section > h2 {
        margin: 0;
    }

    article {
        width: 50%;
    }

    section > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }

    nav > ul > li:nth-child(5) {
        margin-top: 0.2em;
        margin-right: 0.3em;

    }

    form > ul {
        justify-content: center;
    }

    h1 {
        justify-content: center;
    }
}



/*===========LAPTOP FORMAAT===========*/
@media (min-width: 64em) and (max-width: 162em) {
    main h1 {}

    section > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav > ul > li:nth-child(5) {
        margin-top: 0.2em;
        margin-right: 1em;

    }

    article {
        width: 33%;
    }

    form > ul {
        justify-content: center;
    }

    section > div > h2 {
        justify-content: center;
    }

    h1 {
        justify-content: center;
    }
}

/*===========Verhaal resposive vormgeven===========*/
/*======IPHONE FORMAAT========*/
@media (max-width: 29em)

/*=======IPAD FORMAAT=========*/
@media (min-width: 29em) and (max-width: 63.8em) {}

/*===========LAPTOP FORMAAT===========*/
@media (min-width: 64em) and (max-width: 162em) {}
